<select id="customer-select">
    <option>Customers</option>
    {{#each customers}}
    <option data-id="{{dataValues.id}}">{{dataValues.name}}</option>
    {{/each}}
</select>

<table>
    <tr>
        <th>
            Available
        </th>
        <th>
            Devoured
        </th>
    </tr>
    <tr>
        <td>
            <ul>
                {{#each burgers}}
                {{#unless dataValues.devoured}}
                <li>
                    {{dataValues.burgerName}}
                    <button class="devour-button" data-id="{{dataValues.id}}">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </td>
        <td>
            <ul id="devoured">
                {{#each burgers}}
                {{#if dataValues.devoured}}
                <li data-id="{{dataValues.CustomerId}}">
                    {{dataValues.burgerName}}
                    <button class="delete-btn" data-id="{{dataValues.id}}">Delete</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </td>
    </tr>
</table>