<div class="container">
    <div class="row">
        <div class="col-sm jumbotron">
            <h3>Available</h3>
            <ul>
                {{#each burgers}}
                {{#unless dataValues.devoured}}
                <li class="d-flex">
                    {{dataValues.burgerName}}
                    <button class="devour-button" data-id="{{dataValues.id}}">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm">
            <h1>Burger</h1>
            <img src="/assets/img/burger.png" alt="burger">

            <form class="form-group" id="add-burger-form">
                <input id="burgerName" type="text" placeholder="burger name" />
                <button>Add Burger</button>
            </form>

            <form class="form-group" id="add-customer-form">
                <input id="customerName" type="text" placeholder="customer name" />
                <button>Add Customer</button>
            </form>


            <select id="customer-select">
                <option>Customers</option>
                {{#each customers}}
                <option data-id="{{dataValues.id}}">{{dataValues.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm jumbotron">
            <h3>Devoured</h3>
            <ul id="devoured">
                {{#each burgers}}
                {{#if dataValues.devoured}}
                <li data-id="{{dataValues.CustomerId}}">
                    {{dataValues.burgerName}}
                    <button class="delete-btn" data-id="{{dataValues.id}}">Delete</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>